/* Global */
:root {
  --my-light: #e7e9eb;
}

/* Elements */
label {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 2vh;
}

/* Classes */

.bg-my-light {
  background-color: var(--my-light);
}
