/* Global */
:root {
  --my-light: #e7e9eb;
  --primary: var(--my-light);
}

/* Elements */
label {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 2vh;
}

input {
  accent-color: var(--my-light);
}

select option:active {
  background-color: red;
}
/* Classes */

.bg-my-light {
  background-color: var(--my-light);
}

.display-form {
  width: 25vw;
  margin: auto;
}

.form-control:focus {
  border-color: var(--my-light);
  box-shadow: inset 0 1px 1px var(--my-light), 0 0 8px var(--my-light);
}

.card:hover {
  cursor: pointer;
}

.topping-text {
  color: black;
}

/* IDS */

#flavor-dropdown {
  width: 8vw;
}